* {
  margin: 0;
  padding: 0;
}

.header-top {
  position: relative;
  height: 118px;
  font-family: Helvetica;
  background: #ffffff;
  min-width: 1300px;
}

.header-logo {
  position: absolute;
  width: 300px;
  font-size: 26pt;
  color: #ff8c00;
  letter-spacing: 3px;
  top: 43%;
  left: 10%;
}

strong {
  text-transform: uppercase;
  color: #0277bd;
}

.main-nav {
  position: absolute;
  top: 41%;
  right: 8%;
  text-transform: uppercase;
  font-size: 10pt;
  width: 50%;
  margin-top: 10px;
  font-weight: bold;
}

.main-nav li {
  display: inline-block;
  text-align: center;
  padding: 0 20px 30px 20px;
  width: 10%;
  margin-top: 0.5em;
}

li:hover {
  border-bottom: 4px solid #0277bd;
}

li:hover > a {
  color: #0277bd;
}

li:active {
  padding: 0 20px 25px 20px;
  color: #0277bd
}

a {
  text-decoration: none;
  color: #9e9e9e;
}

.promo {
  min-width: 1400px;
  height: 620px;
  font-family: 'Futura_Book-Bold', arial;
  color: #ffffff;
  text-align:center;
  background:url(https://Maxmitab.github.io/GoIT/GoIT_lesson7/background-header.png)no-repeat #0a6ac3;
  background-size: cover;
}

.text {
  padding:7em 20em;
}

.p {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 1%;
}
.span {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
.em {
  font-size: 20px;
  margin: 3% 0 8% 0;
  font-style: italic;
  font-family: Calibri;
  line-height: 40px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.26);
}

.ghost-button {
  border: 1px solid white;
  padding: 1.3em 4em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Helvetica;
  font-weight: 700;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #0277bd;
  transition: background-color 0.3s ease-in;
}

