* {
    margin: 0;
    padding: 0;
}

footer {
     position: relative;
}

.left {  
    background: white;
    display: inline-block;
    padding: 4% 10% 7% 10%;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    font-family: Arial;
}

.text-up,
.text-mid,
.text-bot {
    position: relative;
}

.text-up:before {
    content: '';
    position: absolute;
    background: url('https://Maxmitab.github.io/GoIT/GoIT_lesson9/spot.png') no-repeat;
    background-size: contain;
    width: 23px;
    height: 31px;
    top: 5px;
    left: -60px;
}

.text-mid:before {
    content: '';
    position: absolute;
    background: url('https://Maxmitab.github.io/GoIT/GoIT_lesson9/mob.png') no-repeat;
    background-size: contain;
    width: 23px;
    height: 31px;
    top: 5px;
    left: -60px;
}

.text-bot:before {
    content: '';
    position: absolute;
    background: url('https://Maxmitab.github.io/GoIT/GoIT_lesson9/mail.png') no-repeat;
    background-size: contain;
    width: 23px;
    height: 31px;
    top: 12px;
    left: -60px;
}

.left img {
    padding: 10px;
}

.links {
    margin-left: -30%;
}

.left img:hover {
    cursor: pointer;
}

.map {
    position:absolute;
    display:inline-block;
    width: 70%;
    height: 100%;
}

.left .text-up,
.text-mid,
.text-bot {
    padding:5%;
}

.bottom {
position:absolute;
    text-align: center;
    background: #3070a8;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: Arial;
    color: #ffffff;
    padding: 2%;
    width: 100%;
}